body{
font-family: 'Roboto', sans-serif;
color:#434455;
background-color:#FFFFFF;
}

a{
color:#2e2f42;
text-decoration: none;
}

a:hover,
a:focus{
color:#404bbf;
}

ul{
list-style-type: none;
}

h1{
color: #FFF;
text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
}

h2{
color: #2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}

h3{
color: #2E2F42;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.20;
letter-spacing: 0.4px;
}

p{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.50;
letter-spacing: 0.32px;
}

.logo{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-item{
    color: #2E2F42;
}

.nav-list-item{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.50;
letter-spacing: 0.32px;
}

.main-address{
    font-style: normal 
}

.main-address-list-first{
    color:#434455;
}

.main-address-list-item{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.50;
letter-spacing: 0.32px;
}


.section-hero{
    background-color:#2e2f42;
}

.section-hero-button{
    color: #FFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.section-hero-button:focus,
.section-hero-button:hover{
    background-color:#404BBF;
}

.section-team{
    background-color: #F4F4FD;
}

.section-team-item{
    background-color: #FFFFFF;
}

.page-footer{
    background-color:#2e2f42;
}

.logo-footer{
    color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.logo-footer-item{
    color: #F4F4FD;
}

.footer-text{
    color: #F4F4FD;
}
